<input id="text" type="text" $value="textValue">

<input id="checkbox_1" type="checkbox" $name="checkboxes" value="Yes">
<input id="checkbox_2" type="checkbox" $name="checkboxes" value="No">

<input id="radio_1" type="radio" $name="radios" value="radio 1">
<input id="radio_2" type="radio" $name="radios" value="radio 2">
<input id="radio_3" type="radio" $name="radios" value="radio 3">

<script>
	export default {
		model: {
      radios: '',
      textValue: '',
      checkboxes: []
		}
	};
</script>