<span>{{ `${text} ` | trim }}</span>
<span>{{ 'some text uppercase' | upper }}</span>
<ul>
  <li $for="item in items | filterBy(filter)">{{ item | upper | trim }}</li>
</ul>

<script>
  export default {
    model: {
      items: [' ab', 'a c', 'bc ', '  de', 'fe  '],
      text: 'some test text',
      filter: ''
    },
    filters: {
      upper(value) {
        return value.toUpperCase();
      },
      trim(value) {
        return value.trim();
      },
      filterBy(items, filter) {
        return filter ? items.filter(item => !!~item.toLowerCase().indexOf(filter.toLowerCase())) : items;
      }
    }
  };
</script>