<style scoped>
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  .panel.calendar {
    width: 266px;
  }

  .panel-heading.calendar-actions {
    text-align: center;
    position: relative;
  }

  .panel-heading.calendar-actions .forward {
    float: right;
  }

  .panel-heading.calendar-actions .backward {
    float: left;
  }

  .panel-heading.calendar-actions .today {
    right: 50px;
    position: absolute;
  }

  .calendar-view {
    border: 1px solid #000;
  }

  tr th, tr td {
    padding: 0;
    cursor: pointer;
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #000;
  }

  tr td:first-child, tr td.disabled {
    cursor: default;
    background-color: #a5a5a5;
  }

  tr th {
    color: #fff;
    padding: 1px 3px;
    background-color: #000;
    border-bottom: 2px solid #000;
  }

  td a {
    color: #000;
    display: table-cell;
    text-decoration: none;
    background-color: #fff;
  }

  td a.active, td a:hover {
    background-color: #a5a5a5;
  }

  td a.selected {
    color: #e9e9e9;
    background-color: #3b3b3b;
  }
</style>

<div $show="visibility" :class="['panel calendar', place]">
  <div class="panel-heading calendar-actions">
    <a href="#" @click.prevent="prev()" class="backward">«</a>
    <a href="#" @click.prevent="selectView()" class="month">{{ viewLabel }}</a>
    <a href="#" @click.prevent="resetDate()" class="today"> ⎌</a>
    <a href="#" @click.prevent="next()" class="forward">»</a>
  </div>
  <table :class="['calendar-view', { months: view === 'months', years: view === 'years' }]">
    <thead $if="view === ''">
      <tr>
        <th>W#</th>
        <th $for="dayOfWeek in options.daysOfWeek">{{ dayOfWeek }}</th>
      </tr>
    </thead>
    <tbody $if="view === 'years'">
      <tr $for="row in 3">
        <td $for="year in yearOfDecade(row)" :class="{ disabled: year.disabled }">
          <a $if="!year.disabled" href="#" :class="itemState(year)" @click.prevent="selectYear(year)">
            {{ year.year }}
          </a>
          <template $else>{{ year.year }}</template>
        </td>
      </tr>
    </tbody>
    <tbody $else-if="view === 'months'">
      <tr $for="row in 3">
        <td $for="month in monthOfYear(row)" :class="{ disabled: month.disabled }">
          <a $if="!month.disabled" href="#" :class="itemState(month)" @click.prevent="selectMonth(month)">
            {{ month.month }}
          </a>
          <template $else>{{ month.month }}</template>
        </td>
      </tr>
    </tbody>
    <tbody $else>
      <tr $for="week in month">
        <td class="week">{{ week.weekYear < 10 ? '0' + week.weekYear : week.weekYear }}</td>
        <td $for="day in week.days" :class="{ disabled: day.disabled }">
          <a $if="!day.disabled" href="#" :class="itemState(day)" @click.prevent="selectDay(day)">
            {{ day.day < 10 ? '0' + day.day : day.day }} 
          </a>
          <template $else>
            {{ day.day < 10 ? '0' + day.day : day.day }} 
          </template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script src="./calendar.ts"></script>